body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Lexend Deca', sans-serif;
}

.main-container-flex{
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 20px auto;
    height: 100vh;
}

.container--33{
    padding: 45px;
    color: #fff;
    line-height: 30px;
    min-height: 350px;
}

.container__title{
    text-transform: uppercase;
    font-size: 2.3em;
}

.container__p{
    color:  hsla(0, 0%, 100%, 0.75) ;
    margin-bottom: 35px;
}

.container-btn{
    border-radius: 35px;
    background-color: #fff;
    font-weight: bold;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    width: 100px;
    margin: 0 auto;
    cursor: pointer;
    border: 2px solid #fff;
}

.container1>.container-btn{
    color: hsl(31, 77%, 52%);
}

.container2>.container-btn{
    color: hsl(184, 100%, 22%);
}

.container3>.container-btn{
    color: hsl(179, 100%, 13%);
}

.container1{
    border-radius: 10px 10px 0 0;
    background-color: hsl(31, 77%, 52%);
}

.container2{
    background-color: hsl(184, 100%, 22%);
}

.container3{
    background-color:  hsl(179, 100%, 13%);
    border-radius: 0 0 10px 10px;
}

.container-btn:active{
    background-color: transparent;
    color: #fff;
}

/* ------------------Desktop designs---------------------- */

@media screen and (min-width: 400px) {
    .main-container-flex{
        flex-direction: row;
        width: 800px;
        height: 500px;
        align-items: center;
    }

    .container--33{
        width: 260px;
    }

    .container1{
        border-radius: 10px 0 0 10px;
    }

    .container3{
        border-radius: 0 10px 10px 0;
    }
}